extends _templates/base.pug

mixin card(name)
	.col-md-5.col-md-offset-1
		.panel.panel-default
			.panel-heading
				h5 #{name}
			.panel-body
				block

block head
	title Counseling | UHSSE
	link(rel="stylesheet" href="/assets/css/counseling.css" defer)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.0.3/jquery.floatThead.min.js" defer)
	//- script(src="assets/js/counseling.js" defer)

block body
	+header(banner, name, lead)
	.container

		+section(links.name, links.lead, links.nav)
			.rows
				if links.links.length === 0
					h5(style="font-weight: lighter;")= "No quick links currently available."
				else
					.list-group
						each link in links.links
							a.list-group-item(href=link.link target="_blank")
								h5.list-group-item-heading= link.name
								if link.description
									p.list-group-item-text= link.description

			each grade in links.grades
				a.btn.btn-danger.grade(href=grade.link target="_blank")= grade.name

		hr
		
		+section(mission.name, mission.lead, mission.nav)
			p !{overview}

			p !{mission.statement}

			+innerSection("Philosophy")
				p= philosophy.text
				p The following principles are the basis for the UHSSE school counseling program:
				ul
					each principle in philosophy.principles
						li=principle
		
		hr

		+section(graduationRequirements.name, graduationRequirements.lead, graduationRequirements.nav)
			input.search(type="text" placeholder="Type here to filter..." data-table="graduationRequirements")
			.table-scroll
				table#graduationRequirements.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						tr
							th Department Name
							th Description
							th Required Credits
					tbody
						each requirement in graduationRequirements.requirements
							tr
								td= requirement.department
								td= requirement.description
								td=requirement.credits

		hr

		+section(dates.name, dates.lead, dates.nav)
				+card("SAT")
					p #[a(href=dates.sat.link)= "Click here to register."]
					.col-md-6.dates
						strong Test Dates
						ul.list-unstyled
							each date in dates.sat.testDates
								li= date

					.col-md-6.dates
						strong Registration Deadlines
						ul.list-unstyled
							each date in dates.sat.registrationDates
								li= date
				
				+card("ACT")
					p #[a(href=dates.act.link)= "Click here to register."]
					.col-md-6.dates
						strong Test Dates
						ul.list-unstyled
							each date in dates.act.testDates
								li= date

					.col-md-6.dates
						strong Registration Deadlines
						ul.list-unstyled
							each date in dates.act.registrationDates
								li= date
