extends _templates/base.pug
			
mixin quality(backgroundColor, glyph, name, description)
	.quality
		.icon(style=`background-color: ${backgroundColor};`)
			span.glyphicon(class=glyph)
		.body
			h4= name
			p= description

mixin ptconferences
	.quality
		.icon(style=`background-color: #f06a6a;`)
			span.glyphicon(class="glyphicon-th-list")
		.body
			h4="Parent Teacher Conferences"
			p.
				Thursday January 25th 1-3pm and 5-7pm		
			p(style="margin-top: -1em;").
				Sign Up <a href="http://www.signupgenius.com/go/20f0e4fa8af2ea1f85-university3" target="_blank">Here</a>.


block head
	title UHSSE
	script(src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" defer)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/slippry/1.4.0/slippry.min.js" defer)
	script(src="assets/js/index.js" defer)
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slippry/1.4.0/slippry.min.css")
	link(rel="stylesheet" href="/assets/css/index.css")

block body
	aside.announcements
		p.text-white.text-center(data-announcements=announcements)
	+header(banners, name, phrase, announcements)
	.banner-strip
		p.text-white.text-center
			| 351 Mark Twain Drive, Hartford CT 06112 
			a.btn.btn-default(href="https://goo.gl/maps/1trdfAtqE4A2" target="_blank") #[span.glyphicon.glyphicon-road] Get Directions

			-
				String.prototype.replaceAll = function(search, replacement) {
					let target = this;
					return target.split(search).join(replacement);
				};

				function createTelLink(phoneNumber) {
					return "tel:+1" + phoneNumber.replaceAll(")", "").replaceAll("(", "").replaceAll(".", "").replaceAll("-", "").replaceAll(" ", "");
				}

			a.btn.btn-default(href=createTelLink(phoneNumber) target="_blank") #[span.glyphicon.glyphicon-phone-alt] #{phoneNumber}
	
	.container
		#about.row
			.col-md-6.hidden-xs.hidden-sm
				ul#gallery
					each image in gallery
						li
							a(href=image.link || "javascript:void(0);" target="_blank")
								img.img-responsive(src=image.src alt=image.caption)
			.col-md-5.col-md-offset-1
				//-+ptconferences
				each quality in qualities
					+quality(quality.backgroundColor, quality.glyph, quality.name, quality.description)

		hr

		+innerSection("School Events")
			#calendar.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive.item(frameborder="0" src="https://calendar.google.com/calendar/embed?src=oaomn16s4itdvibnciuc45386k%40group.calendar.google.com&ctz=America/New_York")