extends _templates/base.pug

mixin card(name)
	.col-md-3
		.panel.panel-default
			.panel-heading
				h5 #{name}
			.panel-body
				block

block head
	title Information | UHSSE
	link(rel = "stylesheet", href = "/assets/css/information.css" defer)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.0.3/jquery.floatThead.min.js" defer)
	script(src="assets/js/information.js" defer)

block body
	+header(banner, name, lead)
	.container
		+section(contacts.name, contacts.lead, contacts.nav)
			h6 
				strong UHSSE Staff
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Position
						th Email
					tbody
						each contact in contacts.staff
							tr
								td= contact.name
								td= contact.position
								td
									a(href="mailto://" + contact.email)= contact.email
			br
			br
			h6
				strong Support Services
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Service
						th Email
						th Phone
					tbody
						each service in contacts.supportServices
							tr
								td= service.name
								td= service.position
								td
									a(href="mailto://" + service.email)= service.email
								td= service.phone

		hr

		+section(lunchMenu.name, lunchMenu.lead, lunchMenu.nav)
			.embed-responsive.embed-responsive-16by9
				iframe#pdf.embed-responsive.item(frameborder="0" src="https://docs.google.com/gview?url=")

		hr

		+section(parentOrganizations.name, parentOrganizations.lead, parentOrganizations.nav)
			- let pto = parentOrganizations.pto;
			h4= "PTO"
			.row
				+card("Officers")
					ul.list-unstyled
						each officer in pto.officers
							li #{officer.position}: #[a(href=`mailto:${officer.email}` target="_blank") #{officer.name}]
				
				+card("Meeting Dates")
					p= pto.meetingDates.description
					strong Schedule
					ul.list-unstyled
						each date in pto.meetingDates.dates
							li= date
				
				+card("Meeting Minutes")
					ul.list-unstyled
						each minute in pto.meetingMinutes
							li #[a(href=minute.link target="_blank")= minute.text]

				+card("Fundraisers")
					ul.list-unstyled
						each fundraiser in pto.fundraisers
							li #[a(href=fundraiser.link target="_blank")= fundraiser.name]