extends _templates/base.pug

mixin card(name)
	.col-md-3
		.panel.panel-default
			.panel-heading
				h5 #{name}
			.panel-body
				block

block head
	title Information | UHSSE
	link(rel="stylesheet" href="/assets/css/information.css" defer)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.0.3/jquery.floatThead.min.js" defer)
	script(src="assets/js/information.js" defer)

block body
	+header(banner, name, lead)
	.container
		+section(contacts.name, contacts.lead, contacts.nav)
			+innerSection("UHSSE Staff")
				input#staffSearch(type="text" placeholder="Type here to filter...")
			.table-scroll
				table#staff.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Position
						th Email
					tbody
						each contact in contacts.staff
							tr
								td= contact.name
								td= contact.position
								td
									a(href="mailto:" + contact.email)= contact.email
			br
			br
			+innerSection("Support Services")
				input#supportServicesSearch(type="text" placeholder="Type here to filter...")
			.table-scroll
				table#supportServices.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Service
						th Email
						th Phone
					tbody
						each service in contacts.supportServices
							tr
								td= service.name
								td= service.position
								td
									a(href="mailto://" + service.email)= service.email
								td= service.phone

		hr

		+section(lunchMenu.name, lunchMenu.lead, lunchMenu.nav)
			.embed-responsive.embed-responsive-16by9
				iframe#pdf.embed-responsive.item(frameborder="0" src="https://docs.google.com/gview?url=" + lunchMenu.url + "&embedded=true")

		hr

		+section(parentOrganizations.name, parentOrganizations.lead, parentOrganizations.nav)
			- let pto = parentOrganizations.pto;
			+innerSection("PTO")
			p= pto.description
			.row
				+card("Officers")
					ul.list-unstyled
						each officer in pto.officers
							li #{officer.position}: #[a(href=`mailto:${officer.email}` target="_blank") #{officer.name}]
				
				+card("Meeting Dates")
					p= pto.meetingDates.description
					strong Schedule
					ul.list-unstyled
						each date in pto.meetingDates.dates
							li= date
				
				+card("Meeting Minutes")
					ul.list-unstyled
						each minute in pto.meetingMinutes
							li #[a(href=minute.link target="_blank")= minute.text]

				+card("Fundraisers")
					ul.list-unstyled
						each fundraiser in pto.fundraisers
							li #[a(href=fundraiser.link target="_blank")= fundraiser.name]
				
			- let afterGrad = parentOrganizations.afterGrad;
			+innerSection("After Grad Party")
			p= afterGrad.description
			.row
				+card("Meeting Dates")
					p= afterGrad.meetingDates.description
					strong Schedule
					ul.list-unstyled
						each date in afterGrad.meetingDates.dates
							li= date
				
				+card("Donation Forms")
					ul.list-unstyled
						each form in afterGrad.donationForms
							li #[a(href=form.link target="_blank")= form.name]

				+card("How Can You Help?")
					ul.list-unstyled
						each aid in afterGrad.aids
							li.aid #[a(href="javascript:void(0);" data-description=aid.description)= aid.name]
				
				+card("Updates")
					ul.list-unstyled
						each update in afterGrad.updates
							li.update #[a(href="javascript:void(0);" data-description=update.description)= update.name]

			//- - let sgc = parentOrganizations.sgc;
			//- +innerSection("SGC")
			//- p= sgc.description
			//- .row
			//- 	+card("Meeting Dates")
			//- 		p= sgc.meetingDates.description
			//- 		strong Schedule
			//- 		ul.list-unstyled
			//- 			each date in sgc.meetingDates.dates
			//- 				li= date
				
			//- 	+card("Meeting Minutes")
			//- 		ul.list-unstyled
			//- 			each minute in pto.meetingMinutes
			//- 				li #[a(href=minute.link target="_blank")= minute.text]

		hr

		+section(guidance.name, guidance.lead, guidance.nav)
			p !{guidance.description}
			
			+innerSection("Scholarships")
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Organization
						th Website
					tbody
						each scholarship in guidance.scholarships
							tr
								td= scholarship.organization
								td
									- let link = scholarship.link.includes("http") ? scholarship.link : "http://" + scholarship.link;
									a(href=link target="_blank")= link

		hr

		+section(resources.name, resources.lead, resources.nav)
			.list-group
				each resource in resources.resources
					a.list-group-item(href=resource.url target="_blank")
						h5.list-group-item-heading= resource.name
						p.list-group-item-text= resource.description