extends _templates/base.pug

mixin card(name, size)
	if !size
		.col-md-3
			.panel.panel-default
				.panel-heading
					h5 #{name}
				.panel-body.table-scroll
					block
	else
		div(class="col-md-" + size)
			.panel.panel-default
				.panel-heading
					h5 #{name}
				.panel-body.table-scroll
					block

block head
	title Information | UHSSE
	link(rel="stylesheet" href="/assets/css/information.css" defer)
	script(src="assets/js/information.js" defer)

block body
	+header(banner, name, lead)
	.container
		+section(contacts.name, contacts.lead, contacts.nav)
			+innerSection("UHSSE Staff")
				input.search(type="text" placeholder="Type here to filter..." data-table="staff")
			.table-scroll
				table#staff.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Position
						th Email
						th Website
					tbody
						each contact in contacts.staff
							tr
								td= contact.name
								td= contact.position
								td
									a(href="mailto:" + contact.email)= contact.email
								td
									if contact.website
										a(href=contact.website target="_blank")= contact.website
			br
			br
			+innerSection("Support Services")
				input.search(type="text" placeholder="Type here to filter..." data-table="supportServices")
			.table-scroll
				table#supportServices.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Service
						th Email
						th Phone
					tbody
						each service in contacts.supportServices
							tr
								td= service.name
								td= service.position
								td
									a(href="mailto://" + service.email)= service.email
								td= service.phone

		hr

		+section(lunchMenu.name, lunchMenu.lead, lunchMenu.nav)
			if !lunchMenu.url
				h5(style="font-weight: lighter;")= "The lunch menu is currently unavailable."
			else
				.embed-responsive.embed-responsive-16by9
					iframe#pdf.embed-responsive.item(frameborder="0" src="https://docs.google.com/gview?url=" + lunchMenu.url + "&embedded=true")

		hr

		+section(parentOrganizations.name, parentOrganizations.lead, parentOrganizations.nav)
			- let pto = parentOrganizations.pto;
			+innerSection("PTO")
			p= pto.description
			.row
				+card("Officers")
					ul.list-unstyled
						each officer in pto.officers
							li #{officer.position}: #[a(href=`mailto:${officer.email}` target="_blank") #{officer.name}]
				
				+card("Meeting Dates")
					p= pto.meetingDates.description
					strong Schedule
					ul.list-unstyled
						each date in pto.meetingDates.dates
							li= date
				
				+card("Meeting Minutes")
					ul.list-unstyled
						each minute in pto.meetingMinutes
							li #[a(href=minute.link target="_blank")= minute.text]

				+card("Fundraisers")
					ul.list-unstyled
						each fundraiser in pto.fundraisers
							li #[a(href=fundraiser.link target="_blank")= fundraiser.name]
				
			- let afterGrad = parentOrganizations.afterGrad;
			+innerSection("After Grad Party")
			p= afterGrad.description
			.row
				+card("Meeting Dates")
					p= afterGrad.meetingDates.description
					strong Schedule
					ul.list-unstyled
						each date in afterGrad.meetingDates.dates
							li= date
				
				+card("Donation Forms")
					ul.list-unstyled
						each form in afterGrad.donationForms
							li #[a(href=form.link target="_blank")= form.name]

				+card("How Can You Help?")
					ul.list-unstyled
						each aid in afterGrad.aids
							li.aid #[a(href="javascript:void(0);" data-description=aid.description)= aid.name]
				
				+card("Updates")
					ul.list-unstyled
						each update in afterGrad.updates
							li.update #[a(href="javascript:void(0);" data-description=update.description)= update.name]

			- let sgc = parentOrganizations.sgc;
			+innerSection("SGC")
			p=sgc.description
			
			.row
				+card("Meeting Dates", 6)
					p= sgc.meetingDates.description
					strong Schedule
					ul.list-unstyled
						each date in sgc.meetingDates.dates
							li= date
				
				+card("Meeting Minutes", 6)
					ul.list-unstyled
						each minute in pto.meetingMinutes
							li #[a(href=minute.link target="_blank")= minute.text]

			input.search(type="text" placeholder="Type here to filter..." data-table="sgcMembers")
			.table-scroll
				table#sgcMembers.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						tr
							th Name
							th Position
							th Email
					tbody
						each member in sgc.members
							tr
								td= member.name
								td= member.position
								td #[a(href="mailto:" + member.email target="_blank")=member.email]

		hr

		+section(resources.name, resources.lead, resources.nav)
			.list-group
				if resources.resources.length === 0
					h5(style="font-weight: lighter;")= "No resources currently available."
				else
					each resource in resources.resources
						a.list-group-item(href=resource.url target="_blank")
							h5.list-group-item-heading= resource.name
							p.list-group-item-text= resource.description
			
			+innerSection("Student Council")
			ul.nav.nav-tabs(role="tablist")
				each grade, index in resources.studentCouncil.grades
					- let active = index === 0 ? "active" : null;
					li(class=active role="presentation") #[a(href="#" + index aria-controls=index role="tab" data-toggle="tab")= grade.name]

			.tab-content
				each grade, index in resources.studentCouncil.grades
					- let active = index === 0 ? "active" : null;
					.tab-pane.list-group(class=active role="tab-pane" id=index)
						if grade.resources.length === 0
							h5(style="font-weight: lighter;")= "No resources currently available."
						else
							each resource in grade.resources
								a.list-group-item(href=resource.url target="_blank")
									h5.list-group-item-heading= resource.name
									if resource.description
										p.list-group-item-text= resource.description