extends _templates/base.jade

mixin sport(sport)
	.col-md-3
		.panel.panel-default
			.panel-heading
				h5 #{sport.name}
			.panel-body
				h6#coachingStaff
					strong Coaching Staff
				ul.list-unstyled
					each coach in sport.coaches
						li.coachingStaff #{coach.name} #[p.league #{coach.league}]
				
				h6#gameSchedule
					strong Game Schedule
				ul.list-unstyled
					each schedule in sport.schedules
						li.gameSchedule #[a(href=schedule.link target="_blank") #{schedule.name}]

block head
	title Extracurriculars | UHSSE
	link(rel = "stylesheet", href = "/assets/css/extracurriculars.css")

block body
	+header("/assets/img/extracurriculars.jpg", title, phrase, buttons)

	.container
		+section("Sports", "Get your game on", "sports")
			.row
				each sport in sports
					+sport(sport)