extends _templates/base.jade

block head
	title Information | UHSSE
	link(rel = "stylesheet", href = "/assets/css/information.css" defer)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.0.3/jquery.floatThead.min.js" defer)
	script(src="assets/js/information.js" defer)

block body
	+header(banner, name, lead)
	.container
		+section(contacts.name, contacts.lead, contacts.nav)
			h6 
				strong UHSSE Staff
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Position
						th Email
					tbody
						each contact in contacts.staff
							tr
								td= contact.name
								td= contact.position
								td
									a(href="mailto://" + contact.email)= contact.email
			br
			br
			h6
				strong Support Services
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Service
						th Email
						th Phone
					tbody
						each service in contacts.supportServices
							tr
								td= service.name
								td= service.position
								td
									a(href="mailto://" + service.email)= service.email
								td= service.phone

		hr

		+section(lunchMenu.name, lunchMenu.lead, lunchMenu.nav)
			.embed-responsive.embed-responsive-16by9
				iframe#pdf.embed-responsive.item(frameborder="0" src="http://docs.google.com/gview?url=")