extends _templates/base.jade

block head
	title Information | UHSSE
	link(rel = "stylesheet", href = "/assets/css/information.css")
	script(src="assets/js/information.js" defer)

block body
	+header(banner, name, lead)
	.container

		+section(aboutUs.name, aboutUs.lead, aboutUs.nav)
			each paragraph in aboutUs.description
				p= paragraph

		hr

		+section(contacts.name, contacts.lead, contacts.nav)
			h6 
				strong UHSSE Staff
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Position
						th Email
					tbody
						each contact in contacts.staff
							tr
								td= contact.name
								td= contact.position
								td
									a(href="mailto://" + contact.email)= contact.email
			br
			br
			h6
				strong Support Services
			.table-scroll
				table.table.table-striped.table-hover.table-condensed.table-responsive
					thead
						th Name
						th Service
						th Email
						th Phone
					tbody
						each service in contacts.supportServices
							tr
								td= service.name
								td= service.position
								td
									a(href="mailto://" + service.email)= service.email
								td= service.phone

		hr

		+section(directions.name, directions.lead, directions.nav)
			.embed-responsive.embed-responsive-16by9
				iframe.embed-responsive-item(frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAjz6JN_cohkcqWB4wKgDCQtZ3in_LOUoU&q=University+High+School+of+Science+%26+Engineering")

		hr

		+section(lunchMenu.name, lunchMenu.lead, lunchMenu.nav)
			.embed-responsive.embed-responsive-16by9
				iframe#pdf.embed-responsive.item(frameborder="0" src="")
		